
/* Responsive flex */
.flex-grid {
  display: flex;
}
@media (max-width: 40rem) {
  .flex-grid {
    display:inline-block;
  }
  .column {
    flex: 50%;
  }
}

body{
  background:
  url(images/bg-desktop.svg),
  #674BAF;
  color:white;
  font-family: 'Open Sans', sans-serif;
  margin: 4.3rem;
}

h1{
  font-family: 'Poppins', sans-serif;
}

div{
  margin-top: 3.3rem;
}

main{
  margin-left: 3rem;
  margin-top: 1.5rem;
}
@media (max-width: 40rem){
  main{
    text-align: center;
  }
}
/* Register button styling */
button{
  background-color: white;
  border: solid white;
  border-radius: 10%;
  color:#674BAF;
  padding: 1rem 5rem 1rem 5rem;
}

/* Soft magenta when active */
/* #E882E8 */

/* Social media icons */
footer{
  margin-top: 14.2rem;
  margin-left: 22rem;

}

.fab{
  border: white solid 0.1rem;
  border-radius: 100%;
  margin: 0.2rem;
  padding: 0.2rem;
}
