body{
  background:
  url(images/bg-desktop.svg),
  #674BAF;
  color:white;
  font-family: 'Open Sans', sans-serif;
}
/* Responsive flex */
.flex-grid {
  display: flex;
}
@media (max-width: 40rem) {
  .flex-grid {
    display:inline-block;
  }
  .column {
    flex: 50%;
  }
}

h1{
  font-family: 'Poppins', sans-serif;
}

button{
  background-color: white;
  border: solid white;
  border-radius: 10%;
  color:#674BAF;
}

/* a{
  /* soft magenta */
  /* color: #E882E8;
} */
/* Social media icons */

footer{
  position:absolute;
  bottom: 2rem;
  right: 3rem;
}

.fab{
  border: white solid 0.1rem;
  border-radius: 100%;
  margin: 0.2rem;
  padding: 0.2rem;
}
