body{
  background:
  url(images/bg-mobile.svg) no-repeat,
  #674BAF;
  color:white;
  font-family: 'Open Sans', sans-serif;
  margin: 3rem;
  text-align: center;
}

h1{
  text-align: left;
}
.logo {
  height:2rem;

}
/* ~Image styling */
.mockup{
  width:111%;
  height:auto;
  margin-top: 1.1rem;
}
h2{
  font-family: 'Poppins', sans-serif;
}
main{
  margin-top: 5.5rem;

}
/* Register button styling */
.register{
  background-color: white;
  border: solid white;
  border-radius: 5rem;
  color:#674BAF;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 5rem;
  /* padding: 0.5rem 5rem 0.5rem 5rem; */
}
.register:active{
  background-color: #E882E8;
  border: solid #E882E8;
  color: white;
}

/* Social media icons */
footer{
  margin-top: 4rem;
}

.fab{
  border:solid white 0.1rem;
  border-radius: 50%;
  margin: 0.2rem;
  padding: 0.4rem;
}
.fab:active{
  border:solid #E882E8;
  color: #E882E8;
}
.fa-facebook-f{
  padding: 0.4rem 0.5rem;
}
/* Responsive flex */
.flex-grid {
  display:inline-block;
}



/* Set for larger screen sizes */
@media (min-width: 40rem) {
  .flex-grid {
    display: flex;
  }
    .column {
      flex: 70%;
    }
    body{
      background:
      url(images/bg-desktop.svg) no-repeat,#674BAF ;
    }
    .logo {
      height:3rem;
    }
.mockup{
  width: 100%;
  height:auto;
  margin:4rem 1rem;
}
    main{
      margin-left: 3rem;
      max-width: 40%;
      text-align:left;
    }
    .panel-title{
      font-size: 2rem;
    }
    .register{
      padding: 0.5rem 3rem;
    }
    footer{
      position: absolute;
      bottom: -6rem;
      right: 2rem;
    }
  }
